/* Your existing styles */


#images {
    width: 80% !important;
  }
  
  .custom-owl .item {
    transition: transform 0.3s;
    padding-left: 80px !important;
  }
  
  .custom-owl .item img {
    cursor: pointer;
  
  }
  
  .custom-owl .center .item img {
    transform: scale(1.35);
  }
  
  .custom-owl .item:not(.center) .item img {
    opacity: 0.6;
    transition: opacity 0.3s;
    /* Add transition for opacity changes */
  }
  
  .custom-owl .center .item img:hover {
    opacity: 1;
    /* Set opacity to 1 on hover for the centered image */
  }
  
  .custom-owl .center .owl-item:not(.center) .item img {
    opacity: 0.6;
    /* Reduce opacity for surrounding images in the active section */
  }
  
  .custom-owl .owl-item:not(.center) .item img {
    opacity: 0.4;
    /* Reduce opacity further for surrounding images in non-active sections */
  }
  
  /* @media only screen and (max-width: 1285px) {
    #images {
      width: 85% !important;
    }
  
    .custom-owl .item {
      padding-left: 55px !important;
    }
  }
  @media only screen and (max-width: 1100px) {
    #images {
      width: 85% !important;
    }
  
    .custom-owl .item {
      padding-left: 45px !important;
    }
  }
  @media only screen and (max-width: 970px) {
    #images {
      width: 95% !important;
    }
  
    .custom-owl .item {
      padding-left: 25px !important;
    }
  }
  @media only screen and (max-width: 830px) {
    #images {
      width: 100% !important;
    }
  
    .custom-owl .item {
      padding-left: 0px !important;
    }
  } */

 