@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap');


.comp3-bg{
    background-color: black;
    /* border-top: 1px solid #FF9F20; */
    /* border-bottom: 1px solid #FF9F20; */
}


.comp3-h{
    color: #FF9F20;
font-family: Poppins;
font-size: 64px;
font-style: normal;
font-weight: 600;
line-height: 78.5px; /* 122.656% */
letter-spacing: -1px;
}



.comp3-para{
    color: #FFF;
    text-align: justify;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    /* width: 33.705rem ; */
}

.comp3btn{
    color: #000;
text-align: center;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 13px; /* 81.25% */
text-transform: uppercase;
border-radius: 40px;
background: #FF9F20;
display: flex;
height: 57px;
padding: 0px 59px;
justify-content: center;
align-items: center;
}



@media screen and (max-width: 372px) {

    .comp3-h{
        font-size: 53px;
        line-height: 62px;
    }

    .comp3btn{
    font-size: 13px;
    height: 50px;
    padding: 0px 35px;
  
    }
  }
@media screen and (max-width: 575px) {

    .comp3-para{
        text-align: center;
    }
  }












@media screen and (max-width: 407px) {

    .comp3-h2{ 
        font-size: 60px;
        line-height: 62px; /* 85.938% */
  
    }
  }
@media screen and (max-width: 382px) {

    .comp3-h2{ 
        font-size: 55px;
        line-height: 58px; /* 85.938% */
  
    }
  }
@media screen and (max-width: 351px) {

    .comp3-h2{ 
        font-size: 50px;
        line-height: 54px; /* 85.938% */
  
    }
  }
@media screen and (max-width: 320px) {

    .comp3-h2{ 
        font-size: 43px;
        line-height: 50px; /* 85.938% */
  
    }
  }